:root {
    --outline: rgba(235, 235, 235, 0.747);
    --focused-outline: rgb(228, 228, 228);
}

[theme='dark'] {
    --outline: rgba(26, 36, 46, 0.247);
    --focused-outline: rgba(26, 36, 46, 0.8);
}

form {
    height: 3em;
    border-radius: 1em;

    outline: 0.2vh solid var(--outline);

    padding: 0.8em;
    box-sizing: border-box;

    margin-bottom: -3em;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background: var(--card-bg);

    z-index: 11;
}

form:focus-within {
    outline: 0.2vh solid var(--focused-outline);
}

.searchBar {
    width: 30em;
    height: 100%;

    border: 0;
    outline: 0;

    color: inherit;
    background: none;

    font-size: inherit;
    font-family: inherit;
}

.searchBtn {
    height: 100%;
    border: 0;
    outline: 0;

    cursor: pointer;

    background: none;
}

.searchBtn img {
    height: 1.5em;
}

/* Mobile breakpoint */
@media only screen and (max-width: 600px) {
    form {
        width: 90%;
        margin-bottom: 0;
    }
}
